In [1]:
#regularization is a way that we can reduce overfitting, underfitting and min. our model complexity
#it mostly about adding the hyper parameters
#l1 lasso adds an absolute value of the magnitutude of the coefficients
#l2 ridge adds a squared penalty 
#Elastic net is a combination of L1 and L2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("C:\\Users\\Gacheru\\Documents\\UNZIP_FOR_NOTEBOOKS_FINAL\\08-Linear-Regression-Models\\Advertising.csv")
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [6]:
#remove the sales label
X = df.drop("sales",axis=1)